.app {
  text-align: center;
}

.app-logo {
  height: 80px;
}

.app-header {
  background-color: #222;
  color: white;
  height: 150px;
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
}

.manufacturer-panel {
  display: inline-block;
  width: calc(50% - 2px);
}
.left-border-line {
  border-left: 1px solid;
}
.right-border-line {
  border-right: 1px solid;
}

.video-container {
  display: table;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.aspect-ratio-fixer {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.use-aspect-ratio {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

video {
  width: 100%;
}

canvas {
  background-color: #ddd;
  width: 100%;
  height: 100%;
}
